HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Clients/AddressesDTO.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Clients/AddressMainDTO.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/application.properties
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/service/CardsService.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/service/impl/cardsServiceImpl.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Cards/CardTokenRequest$CardTokenRequestBuilder.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Cards/CardTokenRequest.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Clients/ClientRequest.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Clients/ClientResponseDTO.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/service/ClientService.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/service/impl/clientServiceImpl$1.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/service/impl/clientServiceImpl.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Clients/DefaultDetailsClientDTO.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/GenericResponse.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Clients/Identification.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/utils/IntegrationUtil.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/MaguApplication.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/controller/MaguController.class
/out/artifacts/magu_Web_exploded/META-INF/MANIFEST.MF
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Pages$PagesBuilder.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Pages.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/service/PaymentsService.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/Clients/Phone.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/models/ResponseResult.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/config/RestTemplate.class
/out/artifacts/magu_Web_exploded/WEB-INF/classes/br/com/magu/magu/config/SwaggerConfig.class
